*{
    margin: 0;
    padding: 0;
    font-family:'Arial Narrow Bold', sans-serif;
}

.barra-cabecalho{
    background: black;
    color: #fff;
    padding: 25px;
    display: flex;
    align-items: center;
}

h1{
    font-size: 1.8em;
    margin-right: 150px;
}







































































/**{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', Courier, monospace;
}

body{
    background-color: #fff;
}

#cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    padding: 25px;
    background: #181818;
    /*background: #ff5100;
    margin: auto;
    color: #fff;
    z-index: 1;
    background-image: url(./Imagens/BandeirasCruzadas.png) no-repeat;
}

nav a{
    text-decoration: none;
    margin-left: 45px;
    color: #fff;
    position: fixed absolute;
}

a:hover{
    /*color: #000000;
    color: #ff5100;
    cursor: pointer;
}

h1{
    padding-right: 460px;
    font-size: 200%;
}

#img{
    float: right;
    width: 100px;
    height: 100px;
    z-index: 1;
}

#area-principal{
    width: 1100px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    background-color: #ff5e00;
    color: #000;
    box-shadow: 0px 0px 10px 5px rgba(165, 163, 160, 0.1);
}

#conteudo{
    padding: 5px;
    align-items: right;
}

#area-postagens{
    width: 810px;
    background-color: #faeded;
    box-shadow: 0px 0px 10px 5px rgba(255, 172, 6, 0.1);
}

#area-lateral{
    width: 270px;
    float: right;
    margin-top: -1773px;
    background-color: #fff;
    position: relative;
}

.postagem{
    padding: 15px;
    /*COLOCAR UM MARGIN-BOTTOM AQUI DEPOIS!!!!
    background: #fff;
}

.data-postagem{
    font-size: 0.8em;
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
    color: #c5bebe;
}

#rodape{
    width: 1113px;
    clear: both;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding: 15px;
    background: #CCC;
}


/*AREA DO CARROSSEL

.slide-carrossel{
    margin: 0 auto;
    margin-bottom: 10px;
    width: 1100px;
    height: 400px;
    overflow: hidden;
}

.slide-carrossel-slider{
    width: 400%;
    height: 400px;
    display: flex;
}

.slide-carrossel-slider input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 1100px;
}

.navegacao-manual{
    position: absolute;
    width: 1100px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid red;
    padding: 5px;
    cursor: pointer;
}*/










/*
.carrossel-lateral{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 300px;
    margin-bottom: 20px;
    background-color: #ff5e00;
}

.container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

#imagem{
    object-fit: cover;
    height: 500px;
}*/



















/*
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    background-color: black;
}

-----CABEÇALHO----

#cabecalho{
    background: rgb(231, 170, 0);
    text-align: center;
    padding: 13px;

}

#area-navegacao{
    padding-top: 16px;
    padding-bottom: 5px;
}

FORMATANDO O MENU

h1{
    font-size: 2.7em;
}

a{
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}

a:link, a:visited {
    color: rgb(255, 255, 255);
}

#cabecalho a:link, #cabecalho  a:visited {
    color: white;
    padding: 8px 12px;
}

a:hover{
    text-decoration: underline;
}

#area-principal{
    width: 920px;
    margin: auto;
    padding: 20px;
}
*/
